<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head>
        <meta charset="utf-8">
        <title>Contacts</title>
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
    </head>
    <body>
        <div id="synergy-main">
            <nav class="synergy-nav">
                <div class="synergy-nav-inner">
                    <ul class="synergy-hmenu"><li><a href="inicio.html" class="">Inicio</a></li><li><a href="contacts.html" class="active">Contacts</a></li></ul> 
                </div>
            </nav>
            <header class="synergy-header">
                <div class="synergy-shapes">
                    <div class="synergy-object1237698167"></div>
                </div>
                <h1 class="synergy-headline">
                    <a href="/">LINE TIME</a>
                </h1>
                <h2 class="synergy-slogan">CAN CREATE YOUR SUCCESS</h2>
            </header>
            <div class="synergy-sheet clearfix">
                <div class="synergy-layout-wrapper">
                    <div class="synergy-content-layout">
                        <div class="synergy-content-layout-row">
                            <div class="synergy-layout-cell synergy-content">
                                <article class="synergy-post synergy-article">
                                    <h2 class="synergy-postheader">Contacts</h2>                                                
                                    <div class="synergy-postcontent synergy-postcontent-0 clearfix">
                                        <p>Praesent non ullamcorper mi aliquam iaculis cursus eu.  Scelerisque turpis pretium lobortis eros tincidunt eu turpis donec nibh vel
                                            pede ut dui  sed quis pretium erat.</p><p>Ut adipiscing turpis eget sed risus fermentum iaculis libero in.  Vestibulum a blandit
                                            ligula. Suscipit vestibulum neque imperdiet etiam arcu sagittis magnis ut. Viverra sem libero nonummy imperdiet amet mi.</p>
                                        <h2>Our Address</h2><p>Suspendisse fusce ut cras sit.<br>  Principal Ciudad, Country 12345-6789</p><p>Duis tincidunt cum.<br/>
                                            Quam placerat nunc.</p><p>A.<a href="http://www.domain.com">http://www.domain.com</a><br/>
                                            A.<a href="mailto:email@domain.com">email@domain.com</a>
                                        </p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="synergy-footer">
                <div class="synergy-footer-inner">
                    <div class="synergy-content-layout">
                        <div class="synergy-content-layout-row">
                            <div class="synergy-layout-cell layout-item-0" style="width: 20%">
                                <h3><span style="color: #FFFFFF;">Information</span></h3><br><ul><li><a href="#">Organization</a></li><li><a href="#">Schedule</a></li><li><a href="#">Gente</a></li><li><a href="#">Management</a></li></ul>
                            </div><div class="synergy-layout-cell layout-item-1" style="width: 20%">
                                <h3><span style="color: #FFFFFF;">Posició</span><span style="color: #FFFFFF;">n</span></h3><br><ul><li><a href="#">Area Map</a></li><li><a href="#">Address</a></li><li><a href="#">Contact Us</a></li></ul>
                            </div><div class="synergy-layout-cell layout-item-1" style="width: 25%">
                                <h3><span style="color: #FFFFFF;">Compan</span><span style="color: #FFFFFF;">y</span></h3><br><ul><li><a href="#">About Us</a></li><li><a href="#">Terms</a></li></ul>
                            </div><div class="synergy-layout-cell layout-item-2" style="width: 35%">
                                <p style="text-align: right;"><a href="#"><img width="32" height="32" alt="" src="images/rss_32.png"></a><a href="#"><img width="32" height="32" alt="" src="images/facebook_32.png"></a><a href="#"><img width="32" height="32" alt="" src="images/twitter_32.png"></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="synergy-content-layout">
                        <div class="synergy-content-layout-row">
                            <div class="synergy-layout-cell" style="width: 100%">
                                <p style="text-align: center;"><span style="text-align: right; color: #1114C5;">Erat nisl litora arcu turpis aliquam nunc.</span><br></p>
                            </div>
                        </div>
                    </div>
                    <p class="synergy-page-footer">
                        <span id="synergy-footnote-links"><a href="#" target="_blank">Web Template</a> created with Style.</span>
                    </p>
                </div>
            </footer>
        </div>
    </body></html>