<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
        <style>.loadingTemplate-content .loadingTemplate-postcontent-0 .layout-item-0 { margin-bottom: 10px;  }
            .loadingTemplate-content .loadingTemplate-postcontent-0 .layout-item-1 { color: #A8CADC; background: #000000;  }
            .loadingTemplate-content .loadingTemplate-postcontent-0 .layout-item-2 { color: #A8CADC; padding-right: 10px;padding-left: 10px;  }
            .ie7 .loadingTemplate-post .loadingTemplate-layout-cell {border:none !important; padding:0 !important; }
            .ie6 .loadingTemplate-post .loadingTemplate-layout-cell {border:none !important; padding:0 !important; }
        </style></head>
    <body>
        <div id="loadingTemplate-main">
            <div class="loadingTemplate-sheet clearfix">
                <header class="loadingTemplate-header">
                    <div class="loadingTemplate-shapes">
                        <div class="loadingTemplate-textblock loadingTemplate-object2012949626">
                            <div class="loadingTemplate-object2012949626-text-container">
                                <div class="loadingTemplate-object2012949626-text">&nbsp; Por favor espere mientras verificamos su información</div>
                            </div>    
                        </div>
                    </div>        
                </header>
                <div class="loadingTemplate-layout-wrapper">
                    <div class="loadingTemplate-content-layout">
                        <div class="loadingTemplate-content-layout-row">
                            <div class="loadingTemplate-layout-cell loadingTemplate-content"><article class="loadingTemplate-post loadingTemplate-article">     
                                    <div class="loadingTemplate-postcontent loadingTemplate-postcontent-0 clearfix"><div class="loadingTemplate-content-layout-wrapper layout-item-0">
                                            <div class="loadingTemplate-content-layout layout-item-1">
                                                <div class="loadingTemplate-content-layout-row">
                                                    <div class="loadingTemplate-layout-cell layout-item-2" style="width: 100%" >
                                                        <h3 style="text-align: center;"><span style="font-family: 'Courier New'; color: #FFFFFF;">Verificando credenciales</span></h3>
                                                        <div class="image-caption-wrapper" style="float: left; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;">
                                                            <img width="240" height="180" style="float: left; margin-top: 10px; margin-right: 10px; margin-bottom: 10px; margin-left: 10px;" alt="" 
                                                                 class="loadingTemplate-lightbox" src="resources/common/images/loading.gif"><p><br></p>
                                                        </div><p><br></p><p>Verificando usuario: {{user.usuarioIngresado}} neque aenean quam primis sit erat. 
                                                            Curabitur vel et aliquet elementum tristique sem sem. Proin nec magna sed. Cras&nbsp;<br></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div><footer class="loadingTemplate-footer">
                    <div class="loadingTemplate-content-layout layout-item-0">
                        <div class="loadingTemplate-content-layout-row">
                            <div class="loadingTemplate-layout-cell layout-item-1" style="width: 100%">
                                <p>Copyright © 2017. All Rights Reserved.<br></p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>