<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
        <style>.mensajeDeError-content .mensajeDeError-postcontent-0 .layout-item-0 { margin-bottom: 10px;  }
            .mensajeDeError-content .mensajeDeError-postcontent-0 .layout-item-1 { color: #0F1D24; background: #E2EDF3;  }
            .mensajeDeError-content .mensajeDeError-postcontent-0 .layout-item-2 { color: #0F1D24; padding: 5px;  }
            .ie7 .mensajeDeError-post .mensajeDeError-layout-cell {border:none !important; padding:0 !important; }
            .ie6 .mensajeDeError-post .mensajeDeError-layout-cell {border:none !important; padding:0 !important; }
        </style>
    </head>
    <body>
        <div id="mensajeDeError-main">
            <div class="mensajeDeError-sheet clearfix">
                <div class="mensajeDeError-layout-wrapper">
                    <div class="mensajeDeError-content-layout">
                        <div class="mensajeDeError-content-layout-row">
                            <div class="mensajeDeError-layout-cell mensajeDeError-content"><article class="mensajeDeError-post mensajeDeError-article">  
                                    <div class="mensajeDeError-postcontent mensajeDeError-postcontent-0 clearfix"><div class="mensajeDeError-content-layout-wrapper layout-item-0">
                                            <div class="mensajeDeError-content-layout layout-item-1">
                                                <div class="mensajeDeError-content-layout-row">
                                                    <div class="mensajeDeError-layout-cell layout-item-2" style="width: 100%" >
                                                        <div style="background-color: #F1D8C6; width: 100%;">
                                                            <h3 style="text-align: left;"><span 
                                                                    style="font-family: 'Courier New'; font-size: 22px; color: #000000;">
                                                                    {{user.errorMessage}}
                                                                </span></h3></div>
                                                        <div class="image-caption-wrapper" style="width: 60%; float: left">
                                                            <img width="300" height="203" style="margin-top: 
                                                                 10px; margin-right: 10px; margin-bottom: 10px; 
                                                                 margin-left: 10px;" alt="" class="mensajeDeError-lightbox"
                                                                 src="resources/common/images/shutterstock_3248515.jpg">
                                                            <p><br></p></div><p><br></p><p>
                                                            <img width="45" height="44" alt="" class="mensajeDeError-lightbox" 
                                                                 src="resources/msjErrorTemplate/images/error-Ingresando-Data1.jpg">
                                                            Error ingresando Data
                                                            <img width="144" height="70" alt="" class="mensajeDeError-lightbox" 
                                                                 src="resources/msjErrorTemplate/images/error-Ingresando-Data2.jpg"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div><footer class="mensajeDeError-footer">
                    <p>Copyright © 2017. All Rights Reserved.<br></p>
                </footer>
            </div>
        </div>
    </body>
</html>