<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head>
        <meta charset="utf-8">
        <title>Recuperar Contraseña</title>
        <style>.recuperarContrasenia-content .recuperarContrasenia-postcontent-0 .layout-item-0 { margin-bottom: 10px;  }
            .recuperarContrasenia-content .recuperarContrasenia-postcontent-0 .layout-item-1 { color: #0F1D24; background: #E2EDF3;  }
            .recuperarContrasenia-content .recuperarContrasenia-postcontent-0 .layout-item-2 { color: #0F1D24; padding-right: 10px;padding-left: 10px;  }
            .ie7 .recuperarContrasenia-post .recuperarContrasenia-layout-cell {border:none !important; padding:0 !important; }
            .ie6 .recuperarContrasenia-post .recuperarContrasenia-layout-cell {border:none !important; padding:0 !important; }
        </style>
    </head>
    <body>
        <div id="recuperarContrasenia-main">
            <div class="recuperarContrasenia-sheet clearfix">
                <header class="recuperarContrasenia-header">

                    <div class="recuperarContrasenia-shapes">
                        <div class="recuperarContrasenia-textblock recuperarContrasenia-object2012949626">
                            <div class="recuperarContrasenia-object2012949626-text-container">
                                <div class="recuperarContrasenia-object2012949626-text">Recuperar Contraseña</div>
                            </div>

                        </div>
                    </div>               
                </header>
                <div class="recuperarContrasenia-layout-wrapper">
                    <div class="recuperarContrasenia-content-layout">
                        <div class="recuperarContrasenia-content-layout-row">
                            <div class="recuperarContrasenia-layout-cell recuperarContrasenia-content"><article class="recuperarContrasenia-post recuperarContrasenia-article">
                                    <div class="recuperarContrasenia-postcontent recuperarContrasenia-postcontent-0 clearfix"><div class="recuperarContrasenia-content-layout-wrapper layout-item-0">
                                            <div class="recuperarContrasenia-content-layout layout-item-1">
                                                <div class="recuperarContrasenia-content-layout-row">
                                                    <div class="recuperarContrasenia-layout-cell layout-item-2" style="width: 100%" >
                                                        <h3 style="text-align: center;"><span style="font-family: 'Courier New'; font-size: 22px; background-color: #C9E3EE; color: #000000;">Recuperar Contraseña</span></h3><div class="image-caption-wrapper" style="width: 60%; float: left">
                                                            <img width="225" height="225" style="margin-top: 10px; margin-right: 10px; margin-bottom: 30px; 
                                                                 margin-left: 10px;" alt="" class="recuperarContrasenia-lightbox" 
                                                                 src="resources/loginTemplate/recuperarContrasenia/images/recuperarContrasenia1.jpg"><p><br/></p>
                                                        </div>
                                                        <p>Aenean quam primis sit erat<br/></p>
                                                        <p>
                                                            Felis blandit nam mi neque aenean quam primis sit erat. Curabitur vel et aliquet elementum tristique
                                                            sem sem. Proin nec magna sed. Cras&nbsp;<br>
                                                        </p>
                                                        <p><br></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article></div>
                        </div>
                    </div>
                </div><footer class="recuperarContrasenia-footer">
                    <p>Copyright © 2017. All Rights Reserved.<br></p>
                </footer>
            </div>
        </div>
    </body>
</html>