<div class="container-fluid" ng-controller="LoginController">
  <div class="row login">
    <form class="form" name="loginForm" ng-submit="doLogin()">
      <h2>Inicio de Sesión</h2>
      <div class="tipo">
        <div class="btn-group" role="group">
          <button class="btn btn-default select-text" type="button">
              <span id="selected">Seleccione...</span>
          </button>
          <button type="button" class="btn btn-primary select-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only"></span>
          </button>
          <ul class="dropdown-menu" name="tipo" ng-model="login.tipo">
            <li><a ng-click="login.tipo='V'">V</a></li>
            <li><a ng-click="login.tipo='E'">E</a></li>
            <li><a ng-click="login.tipo='P'">P</a></li>
          </ul>
        </div>
      </div>
      <input type="text" ng-model="login.usuario" name="usuario" class="form-control" placeholder="Usuario">
      <input type="password" ng-model="login.password" name="password" class="form-control" placeholder="Contraseña">
      <a ng-click="alerta=true"><i>¿Olvidó su contraseña?</i></a><br>
      <div id="alerta" ng-show="alerta" class="alert alert-warning alert-dismissable">
        <a href="#" class="close" ng-click="alerta=false" aria-label="close">&times;</a> Recuperar Contraseña.
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-lg btn-primary">Aceptar</button>
      </div>
    </form>
  </div>
</div>

<script>

  $('.dropdown-menu a').click(function(){
    $('#selected').text($(this).text());
  });

</script>