<div class="container-fluid timeline" ng-controller="TimelineController">
	<div class="timeline-body">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 page-header">
				<h2>
					Timeline
				</h2>
			</div>
		</div>
		<div class="row timeline-body">
			<div class="col-md-10 col-md-offset-2">
				<ul class="media" ng-repeat="resultado in resultados">
					<div class="well"
						<li class="media">
							<div class="media-left">
								<img class="media-object" alt="Thumbnail" ng-src={{resultado.thumbnailUrl}} />
								<div class="media-body">
									<h3>
										{{resultado.title}}
									</h3>
									<p>
										Enlace: {{resultado.url}}
									</p>
								</div>
							</div>
						</li>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>