<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head>
        <meta charset="utf-8">
        <title>Validation Message</title>
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
        <style>.mensajeDeValidacion-content .mensajeDeValidacion-postcontent-0 .layout-item-0 { margin-bottom: 10px;  }
            .mensajeDeValidacion-content .mensajeDeValidacion-postcontent-0 .layout-item-1 { color: #0F1D24; background: #E2EDF3;  }
            .mensajeDeValidacion-content .mensajeDeValidacion-postcontent-0 .layout-item-2 { color: #0F1D24; padding-right: 10px;padding-left: 10px;  }
            .ie7 .mensajeDeValidacion-post .mensajeDeValidacion-layout-cell {border:none !important; padding:0 !important; }
            .ie6 .mensajeDeValidacion-post .mensajeDeValidacion-layout-cell {border:none !important; padding:0 !important; }
        </style>
    </head>
    <body>
        <div ng-controller='loginController'>
        <div id="mensajeDeValidacion-main">
            <div class="mensajeDeValidacion-sheet clearfix">
                <div class="mensajeDeValidacion-layout-wrapper">
                    <div class="mensajeDeValidacion-content-layout">
                        <div class="mensajeDeValidacion-content-layout-row">
                            <div class="mensajeDeValidacion-layout-cell mensajeDeValidacion-content">
                                <article class="mensajeDeValidacion-post mensajeDeValidacion-article">


                                    <div class="mensajeDeValidacion-postcontent mensajeDeValidacion-postcontent-0 clearfix">
                                        <div class="mensajeDeValidacion-content-layout-wrapper layout-item-0">
                                            <div class="mensajeDeValidacion-content-layout layout-item-1">
                                                <div class="mensajeDeValidacion-content-layout-row">
                                                    <div class="mensajeDeValidacion-layout-cell layout-item-2" style="width: 100%" >
                                                        <h3 style="text-align: left;">
                                                            <div style=" padding-left: 10px; background-color: #F1D8C6; width: 100%;">
                                                                <span id="validationMessage"
                                                                      style="font-family: 'Courier New'; 
                                                                      text-align: center; 
                                                                      font-size: 22px; 
                                                                      color: #000000;"
                                                                      >
                                                                    {{user.validationMessage}}
                                                                </span>
                                                            </div>                
                                                        </h3>
                                                        <div class="image-caption-wrapper" style="width: 60%; float: left">
                                                            <img width="300" height="203" style="margin-top: 10px; margin-right: 10px; margin-bottom: 10px; 
                                                                 margin-left: 10px; " alt="" class="mensajeDeValidacion-lightbox" 
                                                                 src="resources/common/images/shutterstock_3248515.jpg"><p><br></p>
                                                        </div>
                                                        <p><br/></p><p><span style="font-family: 'Courier New';">Todos los campos son obligatorios</span><br></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="mensajeDeValidacion-footer">
                    <p>Copyright © 2017. All Rights Reserved.<br></p>
                </footer>
            </div>
        </div>
            </div>
    </body>
</html>