.body{
    background-image:url("../../assets/images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


#container-login{
    width: 75%;
    height: 55%;
    background-color: rgba(255,255,255,0.7);
    margin-top: 10%;
    float: left;
    padding-bottom: 5%;
}
.title{
    margin: 1% 1%;
}
.link{
    font-style: italic;
    text-decoration: none;
}

#select_properties{
    margin-right: 1%;
}

.logo-img{
    width: 100%;
    height: 100%;
}
#logo{

    position: absolute;
    right: 0px;
    bottom: 0px;
}

.phone-enter {
    opacity:0;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-out-cubic;
    -webkit-transition-duration: 400ms;
  }
  .phone-enter.phone-enter-active {
    opacity: 1;
  }