.body{
    background-image:url("../../assets/images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    /*background-attachment: fixed;*/
    background-size: cover;
}


#container-login{
    width: 75%;
    height: 55%;
    background-color: rgba(255,255,255,0.7);
    margin-top: 10%;
    float: left;
}
.title{
    margin: 1% 1%;
}
.link{
    font-style: italic;
    text-decoration: none;
}

#select_properties{
    margin-right: 1%;
}

.logo-img{
    width: 100%;
    height: 100%;
}
#logo{
    width: 45%;
    height: 25%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

