.body{
    background-image:url("../../assets/images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    /*background-attachment: fixed;*/
    background-size: cover;
}

.container{
    width: 65%;
    height: 45%;
    background-color: rgba(255,255,255,0.5);
    margin-top: 10%;
    float: left;
}

.link{
    font-style: italic;
    text-decoration: none;
}

#select_properties{
    margin-right: 1%;
}

