body,html
{
  width: 100%, 5%;
  background-image: url("../../assets/images/by-synergy-gb.png"),url("../../assets/images/background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, center center;
  background-attachment: fixed, fixed;
  -webkit-background-size:35%, cover;   /* Safari 3.0 */
  -moz-background-size: 35%, cover;	/* Gecko 1.9.2 (Firefox 3.6) */
  -o-background-size: 35%, cover;		/* Opera 9.5 */
  background-size: 35%, cover;		    /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
} 

.wrapper {
  position: absolute;
  margin-top: 15%;
  margin-bottom: 40%;
}

.form-signin {
  padding: 5% 5% 5%;
  margin: 0 auto;
  background-color:rgba(255, 255, 255, 0.8); //semi-transparent white
  border: 1px solid rgba(0,0,0,0.1);
}

#drop {
		position: relative;
		left: 40%;
		width: 60%;
		margin-bottom: 2%;
	}

input{
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		margin-bottom: 2%;
	}

input[type="password"] {
		margin-bottom: 1%;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	h2 {
		font-size: 1.7em;
		align: left;
		margin-bottom: 5%;
	}

	a{
		font-style: italic;
	}


body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.caption {
    height: 130px;
    text-align: justify;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 200%;
}

.thumbnail {
    padding: 5px;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
