<div  class="container col-12" style="background-color:  rgba(255,255,255,0.5);">
    <div class="container col-10" style="margin:5% 5%;padding:5% 5%;background-color:#252850">
        <div class="row">
                <div  class="container col-4" style="background-color: rgba(255,255,255,0.7); border-radius: 7px;">
                       
                 </div>
                 <div class="container col-6" style="background-color: transparent;padding: 2%">

                 <div class="card shadow-lg p-3 mb-5 bg-white rounded custom-card" style="margin-bottom: 4%;transition-delay: 5ms" ng-if="visible" ng-repeat="data in information" ng-animate="{enter: 'phone-enter'}" >
                        <div class="card-header" style="color: white; background-color: blue">
                          
                        </div>
                        <div class="card-body">
                          <h5 class="card-title"><strong>{{data.title}}</strong></h5>
                          <p class="card-text">{{data.thumbnailUrl}}</p>
                          <a href="{{data.url}}" class="btn btn-primary">Ir</a>
                        </div>
                      </div> 
        </div>
    </div>
</div>